@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    ba
}

.container-login{
    border: 2px solid black;
    background-color: white;
    border-radius: 10px;
    align-items: center;
    margin-top: 9em;
    width: 30%;
    margin-left: 40em;
    height: 65vh;
}