.para-escolha{
    font-size: 27px;
}

#escolha-p{
    font-size: 35px;
    margin-top: 5em;
    margin-left: 18em;
  text-align: center;
}

.bordas {
    padding-bottom: 10px;
    padding-top: 10em;
    display: flex;
    gap: 90px;
    justify-content: space-around;
    justify-content: center;

}
.retangulo {
    background-color: rgb(222, 222, 222)  ;
    border-radius: 20px;
    width: 25em;
    height: 70vh;
}

#p-sexo{
    text-align: center;
    color: black;
    font-size: 25px;
    margin-top: 45px;
    margin-left: 5em
}