* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.escolha-genero{
    margin-top: 20px;
}

#escolha-p{
    color: black;
    font-size: 2em;
    margin-left: 18em;
}

.categorias {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 5em;
    flex-wrap: wrap;
}

.categoria-btn {
    width: 40%;
    background-color: #a1a1a1;
    padding: 18px 5em;
    border-radius: 50px;
    text-decoration: none;
    color: #333;
    font-weight: 600;
    font-size: 30px;
}

#fem{
 background-color: rgb(252, 106, 252);
 letter-spacing: 5px;
}

#masc{
    letter-spacing: 5px;
    background-color: rgb(117, 117, 254);
}


